body {
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  width: auto;
  margin: 10px auto;
  padding: 10px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.column {
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 70%;
}
